<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.supremepole.mapper.WebsiteMapper">
    <resultMap id="websiteMap" type="com.supremepole.model.Website">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="url" column="url"/>
    </resultMap>

    <select id="selectById" resultMap="websiteMap">
        select * from website where id = #{id}
    </select>
</mapper>